html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Catamaran", sans-serif; line-height: 1.42;
}

.font-weight-mid { font-weight: 500 !important; }

.form-input.square { height: 30px; width: 100px; }
.form-input.medium { width: 100px; }

.table-borders {
  border-left: solid 1px grey; border-top: solid 1px grey;
}
.table-borders th, .table-borders td {
  border-right: solid 1px grey; border-bottom: solid 1px grey;
  padding: 10px;
}

.table thead tr th, .table tbody tr td {
  border: solid 1px grey;
}

.match-table th:nth-child(8), .match-table td:nth-child(8) { border-left: double 10px }

